<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../index.css" />
    <title>ShortLink</title>
  </head>
  <body>
    <div id="app">
      <header>
        <div id="logo">
          <i class="fa fa-link" aria-hidden="true"></i>horturl
        </div>
      </header>

      <main>
        <section class="banner">
          <div class="banner-bg">
            <div class="banner-text">
              <h1>
                Make every connection count. Create short url and use them anywhere.
              </h1>
  
              <div>
                <a href="#paste-url" class="btn bg-black text-white">Get started &rarr;</a>
              </div>
            </div>

            <div class="svg-bg"></div>
          </div>
        </section>

        <section class="url-section">
         <div class="url-div">
            <div class="url-form">
              <h1>
                Paste URL here
              </h1>
  
              <form action="/url/shorturl" method="post" id="paste-url">
                <input type="url" name="url" id="url" />
  
                <button type="submit" class="btn bg-black text-white">Get URL <i class="fa fa-link" aria-hidden="true"></i></button>
              </form>
            </div>
         </div>
        </section>
      </main>
    </div>
    <script src="https://kit.fontawesome.com/2a8972df98.js" crossorigin="anonymous"></script>
  </body>
</html>
